.faq-description-text {
    max-width: 552px;
    font-family: 'Futura W01';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    margin: auto;
}

.faq-description-text:not(:last-child){
    margin-bottom: 16px;
}