.header-section-background {
    background-image: linear-gradient(120deg, #ff009d, #f5b324);
    padding-bottom: 216px;
}

.waitlist-section-background{
    padding-top: 26px;
    background: white;
    transform: skewY(-4.70deg) scale(1.30);
}

.waitlist-section-background > * {
    transform: skewY(4.70deg) scale(calc(1/1.30));
}

.faq-section-background {
    background-color: #000000;
    padding-top: calc(128px + 40px);
    padding-bottom: 104px;
}

.rewards-card {
    object-fit: contain;
}

.hero-content-image-container {
    display: flex;
    justify-content: center;
}

.hero-content-text-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1088px) {
    .hero-content-image-container {
        margin-right: 64px;
    }
}

@media (max-width: 1087px) {
    .header-section-background {
        padding-bottom: 108px;
    }

    .waitlist-section-background{
        padding-top: 0px;
        transform: skewY(-4.70deg) scale(1.15);
        padding-bottom: 40px;
    }
    
    .waitlist-section-background > * {
        transform: skewY(4.70deg) scale(calc(1/1.15));
    }

    .hero-content-image-container {
        margin-bottom: 48px;
    }

    .faq-section-background {
        background-color: #000000;
        padding-top: 80px;
        padding-bottom: 104px;
    }
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.no-margin {
    margin: 0px;
}