.header-padding {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: transparent;
    margin-bottom: 80px;
    /* TODO: Convert to SASS/LESS and use color + opacity */
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.header-logo {
    width: 119px;
    height: 48px;
    object-fit: contain;
}