.nav-option-text {
    font-family: 'Futura W01';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 24px;
}

.nav-option-text:last-child {
    margin-right: 0px;
}