.section-image {
    height: 80px;
    object-fit: contain;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
}

.section-content {
    width: 100%;
    max-width: 552px;
}

@media (max-width: 1087px) {
    .image-container {
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .section-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
