// Customizing Bulma SASS files
$column-gap: 0px;

@import "../node_modules/bulma/bulma";

.columns:not(:last-child) {
    margin-bottom: initial;
}

.field:not(:last-child) {
    margin-bottom: initial;
}

.select:not(.is-multiple):not(.is-loading)::after {
	border-color: #000;
}